
<script>
 $(document).ready(function () {
	 $("#TOC").appendTo("#toc_host");
	 $("#TOC").attr("data-spy", "affix");
	 $("#TOC").attr("data-offset-top", "145");
	$("#TOC").addClass("bs-sidebar");
	$("#TOC").addClass("hidden-print");
	 /*
	*/
        var url = window.location.href;
        url = url.replace(window.location.hash, "");

	    // Will only work if string in href matches with location
        $('ul.nav a[href="' + url + '"]').parent().addClass('active');

    // Will also work for relative and absolute hrefs
        $('ul.nav a').filter(function () {
            return this.href == url;
        }).parent().addClass('active').parent().parent().addClass('active');

    });

function showProductPane() {
	$('#product-well').fadeToggle(300);
}
</script>

<script>


$( document ).ready(function() {
	$('img.svg').each(function(){
		var $img = jQuery(this);
		var imgID = $img.attr('id');
		var imgClass = $img.attr('class');
		var imgURL = $img.attr('src');

		jQuery.get(imgURL, function(data) {
                // Get the SVG tag, ignore the rest
                var $svg = jQuery(data).find('svg');

                // Add replaced image's ID to the new SVG
                if(typeof imgID !== 'undefined') {
                	$svg = $svg.attr('id', imgID);
                }
                // Add replaced image's classes to the new SVG
                if(typeof imgClass !== 'undefined') {
                	$svg = $svg.attr('class', imgClass+' replaced-svg');
                }

                // Remove any invalid XML tags as per http://validator.w3.org
                $svg = $svg.removeAttr('xmlns:a');

                // Replace image with new SVG
                $img.replaceWith($svg);

            }, 'xml');

	});
});
 </script>

<div id="wrap">

  	<div class="container">
<script>
$(document).ready(function() {
	$('#TOC ul').each(function() {
		$(this).addClass("nav");

	});

	$('#TOC').children('ul').each(function() {
		$(this).addClass("bs-sidenav");
	});

  $('a[href="#TOC"]').each(function() {
    $(this).after($(this).text());
    $(this).remove();
  })


	$('.documentationBlock img').each(function() {

		$(this).addClass("width: 100%");
		$(this).addClass("height:100%");
		$(this).addClass('img-responsive');

	});
	$('body').scrollspy({ target: '#TOC' })

	$('img').on('load', function(e) {
    	$('body').scrollspy('refresh');
    });

});
</script>
<div class="top-buffer alert alert-info"><a href="#">You can also  download this document as a PDF.</a></div>

<div class="row documentationBlock">
		<div class="col-md-3" id="toc_host">

		</div>
		<div class="col-md-9" style="font-family: 'Open Sans', sans-serif;">
